### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm


# Mac's .DS_Store
.DS_Store

package-lock.json

.vscode
.idea
.history

coverage

.npmrc
